<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401967016415-bf0gl21r15vqu862b2n71ktfe9otp0n5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401967016415-bf0gl21r15vqu862b2n71ktfe9otp0n5</string>
	<key>API_KEY</key>
	<string>AIzaSyAGJQFC5EcgjEsc1npcn-pxNQwWxmRUs88</string>
	<key>GCM_SENDER_ID</key>
	<string>401967016415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.devangpatel.TensorDash</string>
	<key>PROJECT_ID</key>
	<string>sample-tensordash</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-tensordash.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401967016415:ios:005a44898ea8e764137c6a</string>
	<key>DATABASE_URL</key>
	<string>https://sample-tensordash.firebaseio.com</string>
</dict>
</plist>