<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.tensordash.tensordash">

    <application
        android:name="tech.tensordash.tensordash.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="tech.tensordash.tensordash.view.ui.ProjectDescriptionActivity"
            android:parentActivityName="tech.tensordash.tensordash.view.ui.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.tensordash.tensordash.view.ui.DashboardActivity" />
        </activity>
        <activity android:name="tech.tensordash.tensordash.view.ui.ForgotPasswordActivity" />
        <activity android:name="tech.tensordash.tensordash.view.ui.SignUpActivity" />
        <activity
            android:name="tech.tensordash.tensordash.view.ui.LoginActivity"
            android:windowSoftInputMode="" />
        <activity android:name="tech.tensordash.tensordash.view.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="tech.tensordash.tensordash.view.ui.DashboardActivity" />

        <service android:name="tech.tensordash.tensordash.service.FirebaseMessageService" />
    </application>


</manifest>